.logo-wrapper-div{
  position: relative;
}
.App-icon-plus{
  height: 66px;
  width: 18px;
  left: 185.3px;
  position: absolute;
}
.App-logo-react {
  animation: animate-spin-react infinite 10s linear;
  height: 63px;
  width: 52px;
  left: 140px;
  position: absolute;
}

.App-logo-redux {
  animation: animate-spin-redux infinite 5s linear;
  height: 63px;
  width: 38px;
  left: 205px;
  position: absolute;
}

@keyframes animate-spin-react {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes animate-spin-redux {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}